@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');


.pointer{
    cursor:pointer;
}

.ginger{
    font-family: 'F37Ginger';
}

.bold{
    font-weight: bold;
}

.blue-color{
    color:'#332a7c';
}

.big-size{
    font-size: 48px;
}

.zero-right{
    padding-right: 0px;
    margin-right: 0px;
    background-color: #f3f4f7;
}

.moment-div{
    padding-top:13px;
    padding-left:10px;
    background-color: #6f52ed;
    height:50px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.moment-text{
    font-family: F37 Ginger;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.all-button-row{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    margin-top: 4px;
    padding-left:5px; 
    padding-right:0px;
    margin-right: 10px;
}

.margin-15{
    margin-left: 15px;
    margin-top: 15px;
}

.call-opening-text{
    padding-top: 2px;
    margin-left:10px;
    font-family: F37Ginger;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #11263c;
}

.margin-25-10{
    margin-left: 25px;
    margin-top: 10px;
}

.found-text{
    position:absolute;
    right:20px;
    font-size:12px;
    font-style: italic;
    font-family:F37Ginger;
    color:#8bf087;
}

.not-found-text{
    position:absolute;
    right:20px;
    font-size:12px;
    font-style: italic;
    font-family:F37Ginger;
    color:#a1a9b3;
    font-weight: normal;
}

.may-text{
    margin-left:75px;
    font-family: F37Ginger; 
    font-size:12px;
    color:#a1a9b3;
}

.spouse-text{
    font-family: F37Ginger;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #a1a9b3;
}

.snippet-text{
    font-family: F37Ginger;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #11263c;
}

.time-left{
    padding-top:5px;
    font-size:10px;
    color: #a1a9b3;
    line-height:1.2;
    font-family:F37Ginger;
}

.left-msg-text{
    padding-left:20px;
    padding-right:20px;
    font-size:14px;
    color:#11263c;
    font-weight:normal;
    font-family:F37Ginger;
    padding-top:13px;
    padding-bottom:13px;
}

.time-right{
    padding-top:5px;
    font-size:10px;
    font-family:F37Ginger;
    color: #a1a9b3;
    position:absolute;
    right:20px;
}

/* 
.name{
    color:#332a7c;
    font-weight: bold;
    font-size:24px; 
}

.small-portlet-gradient{
    border: 1px solid black;
    width: 160px;
    height: 100px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.92) 53%, #ffffff);
  }

.test{
    width:500px;
    border: 1px solid blue;
}

.blur{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
} */

.header-background{
    box-shadow: 0 1.5px 3px 0 rgba(111, 82, 237, 0.3);
    background-color: #6f52ed;
    height: 58px;
}

.back-button-div{
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    width: 70px;
    height: 30px;
    border-radius: 3.5px;
    box-shadow: 0 5px 10px 0 rgba(17, 38, 60, 0.25);
    background-color: #11263c;
}

.back-text{
    font-family: F37 Ginger;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.name-div{
    margin-top: 10px;
    border-right: 3px solid #f3f4f7;
    height:40px;
    padding-right: 20px;
    margin-left: 25px;
}

.user-name{
    padding-top: 8px;
    font-family: F37 Ginger;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.time-div{
    padding-top: 15px;
    margin-left: 25px;
}

.time-text{
    font-family: F37 Ginger;
    font-size: 12px;
    padding:0px;
    margin:0px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.score-div{
    margin-left: 0px;
    margin-top: 14px;
    display: flex;
    align-items: center;
}

.points-div{
    margin-top: 15px;
    margin-left: 20px;
    width:38px;
    height:30px;
    border-radius: 3.5px;
    box-shadow: 0 5px 10px 0 rgba(139, 240, 135, 0.25);
    background-color: #8bf087;
}

.points-text{
    padding-top: 4;
    align-items: center;
    font-family: F37 Ginger;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.caller-id-div{
    margin-left: 20px;
    display:flex;
    flex-direction:row;
    padding-left:40px;
    margin-top:15px;
    width:120px;
    height:30px;
    padding-left:12px;
    background-color:#11263c;
    box-shadow:0 3px 6px 0 rgba(161, 169, 179, 0.3);
    border-radius:5px;
}

.caller-id-text{
    padding-left:10px;
    padding-top:3px;
    font-size:11px;
    font-family:F37Ginger;
    line-height:2.3;
    color:#ffffff;
}

.prev-fwd-div{
    display:flex;
    align-items: center;
    justify-content: center;
    width:30px;
    height:30px;
    margin-top:15px;
    margin-left:10px;
    background-color:#11263c;
    box-shadow: 0 5px 10px 0 rgba(17, 38, 60, 0.25);
    border-radius:5px;
}

.right-bar-header{
    box-shadow: 0 1.5px 3px 0 rgba(17, 38, 60, 0.3);
    background-color: #11263c;
    display:flex;
    flex-direction:row;
    padding-left:15px;
    height: 58px;
    align-items: center;
}

.form-text{
    font-family: F37 Ginger;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.like-div{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 0 1.5px 3px 0 rgba(139, 240, 135, 0.25);
    background-color: #8bf087;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place-element{
    padding-top: 8px;
    margin-top: 17px;
    margin-left: -7px;
}

.place-eye{
    padding-top: 3px;
    margin-top: 7px;
    margin-left: -3px;
}

.dislike-div{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 0 1.5px 3px 0 rgba(242, 87, 103, 0.25);
    background-color: #f25767;
    display: flex;
    justify-content: center;
    align-items: center;
}

.long-text-rightbar{
    font-family: F37 Ginger;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #11263c;
}

.search-div{
    position: absolute;
    right: 30px;
    width: 38px;
    height: 30px;
    border-radius: 3.5px;
    margin-top: -3px;
    box-shadow: 0 5px 10px 0 rgba(17, 38, 60, 0.25);
    background-color: #11263c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searching-bar{
  box-shadow: 0 15px 30px 0 rgba(17, 38, 60, 0.3);
  background-color: #ffffff;
  margin-top: 0px;
  height:45px;
}

.search-tab-div{
  position: absolute;
  left:0px;
  top:0px;
  width: 100%;
}