@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');


.pointer{
    cursor:pointer;
}

.ginger{
    font-family: 'F37Ginger';
}

.bold{
    font-weight: bold;
}

.blue-color{
    color:'#332a7c';
}

.big-size{
    font-size: 48px;
}

.zero-right{
    padding-right: 0px;
    margin-right: 0px;
}

.heading-div{
    padding-top:14px;
    padding-left:20px;
    background-color: #f3f4f7;
    height:60px;
    width:100%;
}

.heading-text{
    font-size:20px;
    font-family:F37Ginger;
    font-weight:bold;
    color:#332a7c;
}

.button-row{
    display: flex;
    justify-content:center; 
    padding-left:5px; 
    padding-top:20px;
    padding-right:10px;
}

.margin-15{
    margin-left: 15px;
    margin-top: 15px;
}

.call-opening-text{
    padding-top: 2px;
    margin-left:10px;
    font-family: F37Ginger;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #11263c;
}

.margin-25-10{
    margin-left: 25px;
    margin-top: 10px;
}

.found-text{
    position:absolute;
    right:20px;
    font-size:12px;
    font-family:F37Ginger;
    color:#8bf087;
}

.not-found-text{
    position:absolute;
    right:20px;
    font-size:12px;
    font-family:F37Ginger;
    color:#a1a9b3;
    font-weight: normal;
}

.may-text{
    margin-left:75px;
    font-family: F37Ginger; 
    font-size:12px;
    color:#a1a9b3;
}



.name{
    color:#332a7c;
    font-weight: bold;
    font-size:24px; 
}

.small-portlet-gradient{
    border: 1px solid black;
    width: 160px;
    height: 100px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.92) 53%, #ffffff);
  }

.test{
    width:500px;
    border: 1px solid blue;
}

.blur{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
